@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Baskerville:wght@700&display=swap');
@import './styles/variables.css';

/* Base styles */
.App {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: var(--inter-font);
  color: var(--light-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Navbar */
.navbar-container {
  display: flex;
  flex-direction: column;
  height: 6.8%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.logo {
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
  line-height: 22px;
  font-weight: bold;
  height: 22px;
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--light-font-color);
}

.logo:visited, .logo:active {
  color: var(--light-font-color);
}

.hamburger {
  border: none;
  background: none;
  padding: 0;
  color: var(--light-font-color);
  font-size: 22px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  align-self: flex-end;
  position: absolute;
  margin: 3rem 0.5rem 0 0;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  color: var(--light-font-color);
  height: 15%;
  width: 150px;
  border-radius: 15px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}

.nav-link {
  font-weight: bold;
  color: white;
  height: 33%;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-connect {
  background: none;
  border: none;
  color: black;
}

.nav-list-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-width: 410px;
  max-width: 570px;
  font-size: 1.1rem;
  margin-right: 2rem;
}


/* Home page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  height: 30.3rem;
}

.home .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: var(--dark-glass-border);
  height: 220px;
  min-width: 275px;
  text-align: center;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  font-family: "Libre Baskerville";
  border-radius: 15px;
  font-size: 48px;
}

.btn-container {
  max-width: 432px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.mm-link-container {
  margin-top: 1rem;
  text-align: center;
}

.mm-link {
  color: var(--light-font-color);
  text-align: center;
  text-decoration: none;
}

.mm-link:hover {
  text-decoration: underline;
}


/* Buttons */
.btn {
  color: var(--light-font-color);
  padding: 9px 16px;
  width: 90%;
  height: 3rem;
  border-radius: 100px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

/* .btn:hover {
  
} */

.primary {
  background: var(--primary-color);
}

.secondary {
  border: 1px solid #594DAD;
  margin-top: 1rem;
  background: none;
}

.disabled {
  pointer-events: none;
  background: var(--disabled-btn);
  color: var(--disabled-btn-font);
}


 /* Gallery Page  */
.gallery {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
}

.gallery-display-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.7rem;
  width: 100%;
}

.gallery .header {
  font-family: var(--inter-font);
  align-self: flex-start;
  margin-bottom: 0.5rem;
  height: 10%;
}

.gallery .header h1 {
  font-size: 2rem;
  letter-spacing: -0.02rem;
  font-weight: 600;
}

.single-gallery-display:visited, .single-container:active {
  color: var(--light-font-color);
}

/* Gallery sort and filter */
.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0 0.5rem 0;
}

.options-container .left p {
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.75);
}

.diamond {
  width: 11%;
}

.sort-btn, .filter-btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--inter-font);
  font-size: 0.9rem;
  padding-right: .5rem;
  cursor: pointer;
}

.sort-btn:hover, .filter-btn:hover {
  color: var(--light-font-color);
}

.filter-icon {
  font-size: .7rem;
}

.sort-list, .filter-list {
  margin: 0.3rem 2rem 0 0;
  position: absolute;
  z-index: 2;
  background: var(--dark-glass-bg);
  -webkit-backdrop-filter: blur(19px);
  backdrop-filter: blur(40px);
  list-style: none;
  width: 150px;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-42px);
  border-radius: 15px;
}

.sort-option, .filter-option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

.sort-option:hover, .filter-option:hover {
  backdrop-filter: blur(30px);
}


.sort-option {
  height: 50%;
}

.filter-option {
  height: 50%;
}


/* Single Gallery display component */
.single-container {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--dark-glass-bg);
  text-decoration: none;
  color: var(--light-font-color);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.gallery-img {
  position: relative;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.gallery-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  transform: translateY(-68px);
  height: 4rem;
  width: 101%;
  border-radius: 0px 0px 15px 15px;
}

.gallery-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
}

.gallery-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-right: 1rem;
  letter-spacing: -0.02rem;
}

.gallery-price p {
  padding-left: 0.2rem;
}

.minted-gallery {
  font-weight: 700;
  font-size: 1.5rem;
  color: #E25038;
}

.none-minted-container {
  margin-top: 10%;
}

.none-minted-msg {
  font-family: var(--inter-font);
}

/* Single Mona Lisa Page */
.single-mona {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93%;
  width: 99%;
}

.single-mona .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 90%;
}

.single-mona .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 54%;
}

.buy-container {
  width: 90%;
  max-width: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow {
  align-self: flex-start;
  margin-top: .3srem;
  cursor: pointer;
}

.single-mona-img {
  height: 264px;
  border-radius: 15px;
}

.single-mona-name {
  font-size: 20px;
  margin-top: .5rem;
}

.rarity-view-container {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 90%;
  max-width: 535px;
  justify-content: flex-end;
}

.rarity-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 0;
  border-bottom: rgba(255, 255, 255, 0.25) 1px solid;
  height: 50px;
}

.rarity-container .left {
  display: flex;
  align-items: center;
}

.rarity-icon {
  height: 24px;
  margin-right: 1.5rem;
}

.rarity-category {
  align-self: flex-end;
}

.rarity-category.common {
  transform: translateX(-2px);
}

.rare {
  transform: translateX(3px);
}

.rarity-legend {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 250px;
  font-size: 12px;
  padding-top: .7rem;
}

.legend-icon {
  transform: translateY(5px);
  margin-right: .25rem
}

.attribute {
  font-weight: normal;
  font-size: 0.9rem;
  color: var(--secondary-font-color);
}

.attribute-name {
  font-size: 0.9rem;
}

.attribute-percent {
  font-size: .9rem;
}

.price-block {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.eth-logo-alt {
  height: 2.2rem;
  transform: translateY(3px);
}

.eth-logo {
  height: 2rem;
  margin-right: 0.2rem;
}

.buy {
  width: 100%;
  max-width: 535px;
  margin-bottom: 1rem;
}


.glass-overlay {
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-56px);
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 55%;
  width: 90%;
  max-width: 400px;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  border-radius: 15px;
}

.popup-content-container {
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.popup-header {
  margin: 0 1rem;
  width: 90%;
  text-align: center;
}

.close-popup {
  font-size: 1.2rem;
  cursor: pointer;
  align-self: flex-end;
  margin: 0.3rem 1rem 0 0;
}

.wallet-robot {
  width: 10rem;
}

.popup-msg {
  width: 90%;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
}


.success-img {
  height: 160px;
  width: 10rem;
  border-radius: 15px;
}

.minted-tag {
  position: absolute;
  padding: 1rem;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  border: 1px solid var(--dark-bg);
  width: 35%;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.msg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-msg {
  padding-bottom: 0;
  color: var(--light-font-color);
}

.eth-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
}

.eth-link:hover {
  text-decoration: underline;
}

.error {
  font-size: 1.2rem;
}

.error-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;
}

.one {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transform: translate(calc(-50% - 50px), calc(-50% - 50px));
  animation: rotate2 2s infinite linear;
}

.two {
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  transform: translate(calc(-50% - 30px), calc(-50% - 30px));
  animation: rotate1 2s infinite linear;
}

.three {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: translate(calc(-50% - 15px), calc(-50% - 15px));
  animation: rotate2 2s infinite linear;
}

.loader {
  margin: 0;
  border-radius: 50%;
  border: 10px solid #009688;
  border-top: 10px solid #0000ff00;
}

@keyframes rotate1{
  0%{
    transform: none;
  }
 100%{
   transform: rotate(1turn);
}
}
@keyframes rotate2{
  0%{
    transform: none;
  }
 100%{
   transform: rotate(-1turn);
  }
}


@media only screen and (min-width: 600px) and (max-width: 767px){
  .gallery-display-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 768px){
  .logo {
    font-size: 1.2rem;
    margin-left: 2rem;
  }

  .navbar {
    margin-top: 1rem;
    padding: 0;
  }

  .nav-connect-desktop {
    font-size: 1rem;
    height: 2rem;
    width: 100%;
    text-align: center;
  }

  .gallery {
    margin: 0 1rem 2rem 1rem;
  }

  .gallery-display-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery .header {
    margin: 1rem 0;
  }

  .single-container {
    width: 33vh;
    margin-bottom: 1rem;
  }

  .single-mona {
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
  }

  .single-mona .top {
    height: 100%;

  }

  .single-mona-img {
    height: 550px;
    margin: 1rem 0 0 3rem;
  }

  .back-arrow {
    margin: 1rem 0 0 2rem;
  }

  .filter-icon {
    font-size: 1rem;
  }

  .filter-btn, .sort-btn {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  .sort-list, .filter-list {
    height: 18%;
    width: 185px;
    font-size: 1.2rem;
  }
  
}

 @media only screen and (min-width: 960px) {
  .gallery-display-container {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}

@media only screen and (min-width: 1300px) {
  .gallery-display-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

