@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Baskerville:wght@700&display=swap');
@import './styles/variables.css';

/* Base styles */
.App {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: var(--inter-font);
  color: var(--light-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 1rem;
}

.logo {
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
  line-height: 22px;
  font-weight: bold;
  height: 22px;
  text-decoration: none;
  font-size: 0.8rem;
}

.logo:visited, .logo:active {
  color: var(--light-font-color);
}

.hamburger {
  border: none;
  background: none;
  padding: 0;
  color: var(--light-font-color);
  font-size: 22px;
  cursor: pointer;
}


/* Home page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  height: 485px;
}

.home .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: var(--dark-glass-border);
  height: 220px;
  min-width: 275px;
  text-align: center;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  font-family: "Libre Baskerville";
  border-radius: 15px;
  font-size: 48px;
}

.btn-container {
  max-width: 432px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.mm-link-container {
  margin-top: 1rem;
  text-align: center;
}

.mm-link {
  color: var(--light-font-color);
  text-align: center;
  text-decoration: none;
}

.mm-link:hover {
  text-decoration: underline;
}


/* Buttons */
.btn {
  color: var(--light-font-color);
  border: var(--border);
  padding: 9px 16px;
  width: 90%;
  height: 50px;
  border-radius: 100px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}

.primary {
  background: var(--primary-color);
}

.secondary {
  border: 1px solid #594DAD;
  margin-top: 1rem;
  background: none;
}


 /* Gallery Page  */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-display-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

.gallery .header {
  font-family: var(--inter-font);
  align-self: flex-start;
  margin: 0 0 .5rem 1rem;
}

.gallery .header h1 {
  font-size: 2rem;
  letter-spacing: -0.02rem;
  font-weight: 600;
}

.gallery .header p {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.75);
}

.gallery .header .diamond {
  height: 1rem;
  margin-left: .5rem;
}

.single-gallery-display:visited, .single-container:active {
  color: var(--light-font-color);
}

/* Gallery sort and filter */
.options-container {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  margin-right: 1rem;
  width: 30%;
}

.sort-btn, .filter-btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--inter-font);
  font-size: 0.9rem;
  padding-right: .5rem;
}

.filter-icon {
  font-size: .7rem;
}

.sort-list, .filter-list {
  margin: 20px 2rem 0 0;
  position: absolute;
  z-index: 100;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  list-style: none;
  width: 150px;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-list {
  height: 10%;
}

.sort-option, .filter-option {
  display: flex;
  align-items: center;
}


.sort-option {
  height: 25%;
}

.filter-option {
  height: 50%;
}


/* Single Gallery display component */
.single-container {
  height: 210px;
  width: 170px;
  border-radius: 15px;
  background-color: var(--dark-glass-bg);
  text-decoration: none;
  color: var(--light-font-color);
  overflow: hidden;
}

.single-container:nth-child(2n) {
  margin-left: .5rem;
}

.gallery-img {
  position: relative;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.gallery-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  transform: translateY(-44px);
  height: 2.5rem;
  width: inherit;
  border-radius: 0px 0px 15px 15px;
}

.gallery-name {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 1rem;
}

.gallery-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-right: 1rem;
  letter-spacing: -0.02rem;
}

.gallery-price p {
  padding-left: 0.2rem;
}


/* Single Mona Lisa Page */
.single-mona {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.single-mona .top {
  display: flex;
  flex-direction: column;
}

.back-arrow {
  align-self: flex-start;
}

.single-mona-img {
  height: 357px;
  border-radius: 15px;
}