@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Baskerville:wght@700&display=swap');
@import './styles/variables.css';

/* Base styles */
.App {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: var(--inter-font);
  color: var(--light-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Navbar */
.navbar-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 1rem;
}

.logo {
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
  line-height: 22px;
  font-weight: bold;
  height: 22px;
  text-decoration: none;
  font-size: 0.8rem;
}

.logo:visited, .logo:active {
  color: var(--light-font-color);
}

.hamburger {
  border: none;
  background: none;
  padding: 0;
  color: var(--light-font-color);
  font-size: 22px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  align-self: flex-end;
  position: absolute;
  margin: 3rem 0.5rem 0 0;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  color: var(--light-font-color);
  height: 15%;
  width: 150px;
  border-radius: 15px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}

.nav-link {
  font-weight: bold;
  color: white;
  height: 33%;
  text-decoration: none;
}

.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-connect {
  background: none;
  border: none;
  color: black;
}


/* Home page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  height: 485px;
}

.home .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: var(--dark-glass-border);
  height: 220px;
  min-width: 275px;
  text-align: center;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  font-family: "Libre Baskerville";
  border-radius: 15px;
  font-size: 48px;
}

.btn-container {
  max-width: 432px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.mm-link-container {
  margin-top: 1rem;
  text-align: center;
}

.mm-link {
  color: var(--light-font-color);
  text-align: center;
  text-decoration: none;
}

.mm-link:hover {
  text-decoration: underline;
}


/* Buttons */
.btn {
  color: var(--light-font-color);
  border: var(--border);
  padding: 9px 16px;
  width: 90%;
  height: 50px;
  border-radius: 100px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}

.primary {
  background: var(--primary-color);
}

.secondary {
  border: 1px solid #594DAD;
  margin-top: 1rem;
  background: none;
}

.disabled {
  pointer-events: none;
  background: var(--disabled-btn);
  color: var(--disabled-btn-font);
}


 /* Gallery Page  */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-display-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

.gallery .header {
  font-family: var(--inter-font);
  align-self: flex-start;
  margin: 0 0 .5rem 1rem;
  height: 10%;
}

.gallery .header h1 {
  font-size: 2rem;
  letter-spacing: -0.02rem;
  font-weight: 600;
}

.diamond {
  height: 1rem;
  margin-left: .2rem;
}

.single-gallery-display:visited, .single-container:active {
  color: var(--light-font-color);
}

/* Gallery sort and filter */
.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0.2rem 1rem;
  width: 90%;
}

.options-container .left p, .diamond {
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.75);
}

.sort-btn, .filter-btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--inter-font);
  font-size: 0.9rem;
  padding-right: .5rem;
  cursor: pointer;
}

.filter-icon {
  font-size: .7rem;
}

.sort-list, .filter-list {
  margin: 0.3rem 2rem 0 0;
  position: absolute;
  z-index: 2;
  background: var(--dark-glass-bg);
  -webkit-backdrop-filter: blur(19px);
  backdrop-filter: blur(19px);
  list-style: none;
  width: 150px;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-42px);
  border-radius: 15px;
}

.sort-option, .filter-option {
  display: flex;
  align-items: center;
}


.sort-option {
  height: 50%;
}

.filter-option {
  height: 33%;
}


/* Single Gallery display component */
.single-container {
  height: 210px;
  width: 170px;
  border-radius: 15px;
  background-color: var(--dark-glass-bg);
  text-decoration: none;
  color: var(--light-font-color);
  overflow: hidden;
}

.single-container:nth-child(2n) {
  margin-left: .5rem;
}

.gallery-img {
  position: relative;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.gallery-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  transform: translateY(-44px);
  height: 2.5rem;
  width: inherit;
  border-radius: 0px 0px 15px 15px;
}

.gallery-name {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 1rem;
}

.gallery-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-right: 1rem;
  letter-spacing: -0.02rem;
}

.gallery-price p {
  padding-left: 0.2rem;
}

.minted-gallery {
  font-weight: 700;
  font-size: 1rem;
  color: #E25038;
}

.none-minted-container {
  margin-top: 10%;
}

.none-minted-msg {
  font-family: var(--inter-font);
}

/* Single Mona Lisa Page */
.single-mona {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.single-mona .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  width: 90%;
}

.back-arrow {
  align-self: flex-start;
  color: var(--light-font-color);
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.single-mona-img {
  height: 265px;
  border-radius: 15px;
}

.single-mona-name {
  font-size: 20px;
  margin-top: 1rem;
}

.rarity-view-container {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 90%;
}

.rarity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  border-bottom: var(--secondary-font-color) 1px solid
}

.rarity-container:last-child {
  border-bottom: none;
}

.rarity-container .left {
  display: flex;
  align-items: center;
}

.rarity-icon {
  height: 1.7rem;
  margin-right: .5rem;
}

.attribute {
  font-weight: normal;
  font-size: 0.9rem;
  color: var(--secondary-font-color);
}

.attribute-name {
  font-size: 1.2rem;
}

.buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.single-price {
  display: flex;
  align-items: center;
  font-size: var(--light-font-color);
  font-size: 1.3rem;
  font-weight: 600;
}
.eth-logo {
  height: 2rem;
  margin-right: 0.5rem;
}

.buy {
  max-width: 11rem;
}

.glass-overlay {
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-56px);
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 55%;
  width: 90%;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  border-radius: 15px;
}

.popup-header {
  margin: 0 1rem;
  width: 90%;
  text-align: center;
}

.close-popup {
  font-size: 1.2rem;
  cursor: pointer;
  align-self: flex-end;
  margin: 0.3rem 1rem 0 0;
}

.wallet-robot {
  width: 10rem;
}

.popup-msg {
  width: 90%;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
}

.minted-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minted-tag {
  position: absolute;
  padding: 1rem;
  background: var(--dark-glass-bg);
  backdrop-filter: blur(19px);
  border: 1px solid var(--dark-bg);
  width: 55%;
  font-size: 2.5rem;
  text-align: center;
}

.msg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-msg {
  padding-bottom: 0;
  color: var(--secondary-font-color);
}

.eth-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.error {
  font-size: 1.2rem;
}
.error-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;
}
