:root {
  /* Base */
  --primary-color: linear-gradient(180deg, #B286EC 0%, #594DAD 100%);
  --border: 1px solid var(--primary-color);
  --disabled-btn: linear-gradient(180deg, rgba(178, 134, 236, 18%) 0%, rgba(89, 77, 173, 18%) 100%);
  --inter-font: 'Inter', Arial, Helvetica, sans-serif;
  --libre-font: 'Libre Baskerville', 'Times New Roman', Times, serif;
  
  /* Glass Effect */
  --dark-glass-bg: rgba(255, 255, 255, 0.16);
  --dark-glass-border:  1px solid rgba(255, 255, 255, 0.2);

  /* Dark mode */
  --dark-bg: linear-gradient(12.04deg, #361F43 0%, #181529 50%, #222F41 100%);
  --light-font-color: #FFF;
  --secondary-font-color: rgba(255,255,255, 0.75);
  --disabled-btn-font: rgba(255,255,255, 0.18)


}